<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Screens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div style="width:100%;">

  <div style="width:350px; float:left; margin: 5px;">
  <ion-card style="width: 100%; min-height: 300px; ">
    <ion-card-header>
      <div style="position: absolute; right:15px; top: 15px;">
        <ion-button color="light"><ion-icon name="add-outline"></ion-icon></ion-button>
      </div>
      <ion-card-title>
        Screen Lists
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Details
    </ion-card-content>
  </ion-card></div>

  <div style="width:350px; float:left; margin: 5px;">
  <ion-card style="width: 100%; min-height: 300px;">
    <ion-card-header>
      <div style="position: absolute; right:15px; top: 15px;">
        <ion-button color="light"><ion-icon name="add-outline"></ion-icon></ion-button>
      </div>
      <ion-card-title>
        Screens
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Details
    </ion-card-content>
  </ion-card>
  </div>


</div>


</ion-content>
