<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DashBoard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width:100%;">
    <div style="width:100%; float:left; margin: 5px;">

      <ion-card style="max-width: 500px; min-height: 300px;">
        <ion-card-header>
          <ion-card-title>
            Schedules
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Detail Schedules
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
