<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Materials
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div style="width:100%;">

    <div style="width:100%; float:left; margin: 5px;">
      <ion-card
        style="border-radius: 30px; max-width: 80%; min-height: 500px; background: linear-gradient(297deg, rgb(56, 187, 115) 0%, rgb(5, 48, 44) 100%);">
        <ion-card-header>
          <ion-card-title style="font-size: xx-large; margin-left: 30px;" *ngIf="showMain">
            <div style="position: absolute; right:15px; top: 0px;">
              <ion-button shape="round" color="light">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
              <ion-button shape="round" color="light">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </div>
            Ads
          </ion-card-title>
          <ion-card-title style="font-size: xx-large; margin-left: 30px;" *ngIf="showSub">
            <div (dblclick)="clickFolder($event)"> Ads</div> / Samsung
          </ion-card-title>
          <ion-card-subtitle style="color:#999999; margin-left: 30px;">Upload materials by Drag and drop
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

          <div #adsFolders style="margin:20px;" *ngIf="showMain">

            <ion-grid>
              <ion-row>

                <ion-col>
                  <div (dblclick)="clickFolder($event)">
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">Samsung
                          <!-- <ion-icon name="create-outline" style="font-size:larger; color:aliceblue;"></ion-icon> -->
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">

                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">Food Panda</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">Green Common</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">Lu lu lemon</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">HSBC</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

              </ion-row>
            </ion-grid>

          </div>

          <div #adsSubFolders style="margin:20px;" *ngIf="showSub">

            <ion-grid>
              <ion-row>

                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">Samsung-01</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">Samsung-02</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

              </ion-row>
            </ion-grid>

          </div>
        </ion-card-content>
      </ion-card>
    </div>


    <div style="width:100%; float:left; margin: 5px;">
      <ion-card
        style="border-radius: 30px; max-width: 80%; min-height: 500px; background: linear-gradient(297deg, rgb(49, 166, 102) 0%, rgb(2, 27, 24) 100%);">
        <ion-card-header>
          <div style="position: absolute; right:15px; top: 15px;">
            <ion-button shape="round" color="light">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="light">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-card-title style="font-size: xx-large; margin-left: 30px;" *ngIf="showMain">
            In House
          </ion-card-title>
          <ion-card-title style="font-size: xx-large; margin-left: 30px;" *ngIf="showSub">
            <div (dblclick)="clickFolder($event)"> Ads</div> / Samsung
          </ion-card-title>
          <ion-card-subtitle style="color:#999999; margin-left: 30px;">Upload materials by Drag and drop
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

          <div #adsFolders style="margin:20px;" *ngIf="showMain">

            <ion-grid>
              <ion-row>



                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">HSBC</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

              </ion-row>
            </ion-grid>

          </div>


        </ion-card-content>
      </ion-card>
    </div>






    <div style="width:100%; float:left; margin: 5px;">
      <ion-card
        style="border-radius: 30px; max-width: 80%; min-height: 500px; background: linear-gradient(297deg, rgb(42, 142, 87) 0%, rgb(1, 13, 12) 100%);">
        <ion-card-header>
          <div style="position: absolute; right:15px; top: 15px;">
            <ion-button shape="round" color="light">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="light">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-card-title style="font-size: xx-large; margin-left: 30px;" *ngIf="showMain">
            Content
          </ion-card-title>
          <ion-card-title style="font-size: xx-large; margin-left: 30px;" *ngIf="showSub">
            <div (dblclick)="clickFolder($event)"> Ads</div> / Samsung
          </ion-card-title>
          <ion-card-subtitle style="color:#999999; margin-left: 30px;">Upload materials by Drag and drop
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

          <div #adsFolders style="margin:20px;" *ngIf="showMain">

            <ion-grid>
              <ion-row>



                <ion-col>
                  <div>
                    <ion-row text-center style="border: 0px solid green;margin: 0px; ">
                      <ion-col style="text-align:center; margin: 0px;">
                        <ion-icon style="font-size:5em; color:aliceblue; margin-bottom: -15px;" name="folder">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="border: 0px solid green;">
                      <ion-col style="text-align:center;">
                        <ion-label style="font-size:larger; color:aliceblue;">HSBC</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

              </ion-row>
            </ion-grid>

          </div>


        </ion-card-content>
      </ion-card>
    </div>



  </div>
</ion-content>
